// See https://aka.ms/vscode-remote/devcontainer.json for format details.
{
	"name": "CodeRyo-Frontend",
	"build": {
		// Sets the run context to one level up instead of the .devcontainer folder.
		"context": "..",
		// Update the 'dockerFile' property if you aren't using the standard 'Dockerfile' filename.
		"dockerfile": "./dev.Dockerfile"
	},
	"runArgs": [
		"--net=host"

	],
	"privileged": true,
	"customizations":{
		"vscode": {
			// Set *default* container specific settings.json values on container create.
			// "settings": {},
			"extensions": [
				"althack.ament-task-provider",
				"DotJoshJohnson.xml",
				"ms-azuretools.vscode-docker",
				"redhat.vscode-yaml",
				"streetsidesoftware.code-spell-checker",
				"yzhang.markdown-all-in-one",
				"zachflower.uncrustify",
				"donjayamanne.git-extension-pack",
				"Vue.volar"

			]
		}
	}
	// Features to add to the dev container. More info: https://containers.dev/features.
	// "features": {},

	// Use 'forwardPorts' to make a list of ports inside the container available locally.
	// "forwardPorts": [],

	// Uncomment the next line to run commands after the container is created.
	// "postCreateCommand": "cat /etc/os-release",

	// Configure tool-specific properties.
	// "customizations": {},

	// Uncomment to connect as an existing user other than the container default. More info: https://aka.ms/dev-containers-non-root.
	// "remoteUser": "devcontainer"
}